

<div class="main_body" >
<div>
    <div class="purchase_div">
         <p class="purchase_divp">Confirm Purchase</p>
         <button  matDialogClose   class="purchase_div_btn"><img src="/assets/images/cross.png" ></button>
    </div>
    <div>
        <div class="sub_body">
            <div class="sub_body1">
                 <div class="sub_body1_top">
                    <p class="sub_body1_top_p1">Chosen bundle</p>
                    <p class="sub_body1_top_p2">Science Program</p>
                    <p class="sub_body1_top_p3">Physics, Chemistry, Biology</p>
                 </div>
                 <div class="sub_body1_bottom">
                    <p>Additional subjects you might require</p>
                    <form > 

                        
                        <div class="inp_class_1">
                            <input id="inp1" type="radio">
                            <label for="inp1">English</label>
                        </div>

                        <div class="inp_class_2">
                            <input id="inp2"type="radio">
                            <label for="inp2">Mathematics</label>
                        </div>
                        <br>
                  
                        <div class="inp_class_3">
                            <input id="inp3" type="radio">
                            <label for="inp3">EngGeneral Testlish</label>
                        </div>


                        <div class="inp_class_4">
                            <input id="inp4" type="radio">
                            <label for="inp4">General Test</label>
                        </div>
                   
                  
                   </form>
                 </div>
            </div>

            <div class="sub_body2">

                <div class="sub_body2_top">
                    <div class="sub_body2_p1">
                        <p>Science Program <br>
                            (Physics + Chemistry + Biology)</p>
                       </div>
                       
                       <div class="sub_body2_p2">
                          <p>₹ 34,999</p>
                       </div>
                </div>

                <div class="sub_body2_bottom">
                    <div class="hr"></div>
                    <p class="total">Total</p>
                    <p class="price">₹ 34,999</p>
                    <p class="inclgst">incl. GST</p>
                    <p class="you_save">You saved ₹5000! </p>

                    <button >Buy Now!</button>
                </div>
            

            

            </div>
        </div>  
    </div>
</div>
</div>
