

<div class="main-body ">


    <div  class=" d-flex  justify-content-between   px-5  ">


                    
        <div class="main-div-first">
            <img  class="img-fluid"  style="width: 9rem;" src="/assets/images/CUET-Selected Logo-01 1.png" >
        </div>


        
            <div class="menu_icon"  [class.menu_icon_Class]="menu_icon_variable"   (click)="openMenu()">
                <span></span>
               <span></span>
               <span></span>       
        </div> 
         

         <div class="d-flex  menu-1 "    [class.menuClass]="menuVariable"  >
            


            <div class="ul-div  px-3"  >
                <ul><li>about us</li></ul>
                <ul><li>FAQs</li></ul>
                <ul><li>CUET</li></ul>
                <ul><li>Syllabus</li></ul>
                <ul><li>Sample Test</li></ul>
                <ul><li>Blog</li></ul>
              </div>
              
                

            <div class="d-flex flex-column px-3 justify-content-between title text-center  ">
                <div>
                    <div class="brochure-bt">
                        <button class="button1">Brochure</button>
                        <button class="button2"><img src="/assets/images/download.png" ></button>
                   </div>
                  
                   
                </div>
                
                <div>
                    <img src="/assets/images/call&whats.png" >
                </div>
                <div>
                    <p style="color:  #20428C;">98765 43210</p>
                </div>
            </div>


            <div class="d-flex flex-column px-3 justify-content-around   ">
                    <div  class="d-flex flex-row justify-content-between">
                        <div><img class="img-arr1" src="/assets/images/indeed.png" ></div>
                        <div> <img class="img-arr2" src="/assets/images/insta.png" ></div>
                    </div>
                    <div><button routerLink="/signUp" id="signId" type="button" class="btn Sign-bt "> <p >Sign Up</p> </button></div>
            </div>

            
            <div class="d-flex flex-column justify-content-around img-arr ">
                <div class="d-flex flex-row justify-content-between">
                    <div><img class="img-arr3" src="/assets/images/youtub.png" ></div>
                    <div> <img  class="img-arr4" src="/assets/images/facebook.png" > </div>
                </div>
                <div><button type="button" routerLink="/login" class="loginbt">login</button></div>
            </div>



          </div>








</div>



</div>
    
   
